@use "../../SCSS/Abstracts/index.scss" as *;

.dashboard{
    display: flex;
    // justify-content: center;
    
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(144, 144, 144);
    
    // Makes dashboard fill the empty space
    flex-grow: 1;

    // // just in case you want the dashboard to take more space
    // height: 100vh;
 
    
 
    .container{
        @include container_centering($m_padding);
        // align-items: unset;
       
        .user_not_logged_in{

            margin: 0 auto;
            
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: $m_spacing;

            border-radius: $base_border_radius;
            background-color: $container_color;
            padding: $m_padding;

            strong{
                font-size: 3rem;
            }

            div{
                display: flex;
                gap: $m_spacing;
            }
        }

        .app_functionality{
            // background-color: $container_color;
            // border-radius: $base_border_radius; 

            display: flex;
            flex-direction: column;
            gap: $xl_spacing;

            text-align: center;

            .select_message{
                background-color: $container_color;
                border-radius: $base_border_radius; 
                padding: $s_padding;
             
            }


            // Make the game icons small for phone and make them bigger for desktop
            ul{
                display: flex;
                justify-content: center;
              
                gap: $m_spacing;
            }

            form{
                background-color: $container_color;
                border-radius: $base_border_radius; 
                padding: $m_padding;

                display: flex;
                flex-direction: column;
                gap: $m_spacing;

                .desktop_drop_upload{
                    border: 1px solid gray;
                    border-radius: 4px;
                    padding: $l_padding;

                }

                .file_preview{
                    margin-top: $m_margin;
                    flex-wrap: wrap;

                    li{
                        padding: $s_padding;
                        border-radius: $base-border-radius;
                        background-color: rgb(147, 208, 219);
                        
                        position: relative;

                        button{
                            pointer-events: none;
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: background-color 0.2s ease-in ;
                        }
                        
                        &:hover{
                            button{
                                pointer-events: initial;
                                visibility: initial;
                                background-color: $error_red;
                                color: $white;
                                border-radius: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}