@use "../../SCSS/Abstracts/index.scss" as *;

.dashboard{
    display: flex;
    justify-content: center;
    
    // max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    // background-color: rgb(144, 144, 144);
    
    // Makes dashboard fill the empty space
    flex-grow: 1;

    // // just in case you want the dashboard to take more space
    // height: 100vh;
    
    
    
 
    .container{
        // @include container_centering($m_padding);
        // align-items: unset;

        video{
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -2;
    }

        display: flex;
        align-items: center;
        justify-content: center;

        // margin: 0 auto;

        padding: $l_padding;
        width: 100%;
        max-width: 1200px;
       
        
        
        .user_not_logged_in{

            margin: 0 auto;
            
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: $m_spacing;

            border-radius: $base_border_radius;
            background-color: $container_color;
            padding: $m_padding;

            strong{
                font-size: 3rem;
            }

            div{
                display: flex;
                gap: $m_spacing;
            }
        }

        .app_functionality{
            // background-color: $container_color;
            // border-radius: $base_border_radius; 

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $xl_spacing;

            width: 100%;

            text-align: center;

            .select_message{
                background-color: $container_color;
                border-radius: $base_border_radius; 
                padding: $s_padding;
                text-align: center;
                max-width: 600px;
               
            }

            ul{
                display: flex;
                justify-content: center;
              
                gap: $s_spacing;
            }


            
            .game_list{
                gap: $l_spacing;
                

                li{
                    cursor: pointer;
                    transition: scale 0.2s ease-in-out;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: $m_spacing;
                    width: 100%;

                    img{
                        width: 50px;
                        border-radius: 8px;
                    }

                    &:hover{
                        scale: 1.1;
                    }
                }
            }

            form{
                background-color: $container_color;
                border-radius: $base_border_radius; 
                padding: $m_padding;

                max-width: 800px;
                width: 100%;

                display: flex;
                flex-direction: column;
                gap: $m_spacing;

                .desktop_drop_upload{
                    border: 1px solid gray;
                    border-radius: 4px;
                    padding: $xl_padding;

                }


                .file_management_container{
                    margin-top: $m_margin;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                   .button_1{
                    width: initial;
                   }

                }


                .file_preview{
                    margin: $l_margin 0;
                    flex-wrap: wrap;
                    // justify-content: flex-start;

                    li{
                        display: flex;
                        padding: $s_padding;
                        border-radius: 5px;
                        background-color: rgb(165, 165, 165);
                        gap: $s_spacing;
                        
                        position: relative;

                        transition: width 0.3 s ease-in-out;

                        button{
                            cursor: pointer;
                            border-radius: 50%;
                            width: 17px;
                            height: 17px;
                            
                            transition: color 0.2s ease-in ;
                        }
                        
                        &:hover{
                            button{
                                color: $error_red;
                            }
                        }
                    }
                }

                .button_1{
                    width: 50%;
                    align-self: center;
                }

            }
        }
    }
}


@media screen and (min-width: 550px) {

    .dashboard{
        .container{
            .app_functionality{
                .game_list{
                    gap: $l_spacing;

                    li{
                        img{
                            width: 80px;
                            
                        }
                    }
                }
            }
        }
    }
}