
@use "../../SCSS/Abstracts/index.scss" as *;

.registration{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $m_spacing;


    .container{
        position: relative;
        width: 100vw;
        height: 100vh;
       
        // variations
        // background-color: #545454 ;

        background-color: $container_color;
        overflow: hidden;

        transition: height 0.4s ease-in-out;


        .transition_div{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            position: absolute;
            background-color: $black;
            color: $white;
            width: 100%;
            height: 100%;
            bottom: 105%;

            z-index: 2;
            transition: bottom 1s ease-in-out;

          

            div{
               *{
                margin-top: $m_margin;
               }

                p{
                    font-size: 1.5rem;
                }
            }
        }

        .active{
            bottom: -100%;
        }

        .sign_up_success{
            bottom: 0;
        }

    
        form{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: $s_spacing;

            // border: 1px solid $black;
            padding: $m_padding;
            transition: height 2s ease-in-out;

            h2 {
                margin: 0;
                text-transform: capitalize;
                padding: $s-padding 0 ;
            }

          

            .button_2{
                align-self: flex-end;
            }
          
            .button_1{
                width: 100%;
            }

            .got_to_sign_up{
                display: flex;
                flex-direction: column;

                span{
                    margin: $m_padding 0 ;
                }    
            }
        }
    }
}


@media screen and (min-width: 400px){
    .registration{
        .container{
            border-radius: $base-border-radius;
            width: 400px;
            height: 410px;
        }

        .transition_height{
            height: 515px;
        }
    }
}