$s_spacing: 0.5rem;
$m_spacing: 1rem;
$l_spacing: 2rem;
$xl_spacing: 4rem;
$xxl_spacing: 8rem;

$s_padding: 0.5rem;
$m_padding: 1rem;
$l_padding: 2rem;
$xl_padding: 4rem;
$xxl_padding: 8rem;

$s_margin: 0.5rem;
$m_margin: 1rem;
$l_margin: 2rem;
$xl_margin: 4rem;
$xxl_margin: 8rem;

$base-border-radius: 20px;