@use "../../SCSS/Abstracts/index.scss" as *;

// on the phone media i want hamburger 
//when phone media is passed hide it and make nav visible

// nav will do the same trick as login, it will sit outside of view with position
// when outside phone mode nav will be put back in place

.navigation_bar{
    background-color: $black;
    color: $white;

    // container will need a max width

    .container{
        @include container_centering($m_padding);
       


        // take care the height takes more space than it should

        nav{
            // display: none;
            background-color: $black;

            // this might be a temporary fix, it might need fixing (on big phone heights the nav doesn't go till the end of the screen)
            height: 89%;  
            width: 200px;
            padding: $m_padding;

            position: absolute;
            left: -100%;
            top: 58px;
            z-index: 2;
            
            transition: left 0.3s ease-in-out, display 200ms;
            
            
            
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $m_spacing;
                width: 100%;
                
                li{
                    text-transform: capitalize;
                
                }

                .nav_link{
                    padding: $s_padding;
                    border: 1px solid $white;
                }
            }
        }

        .toggleNav{
            // display: block;
            left: 0px;
        }

       


        // this has been taken from codepen and has been adapted to scss
        // important note here is that this hamburger is thought ot work on all browsers

        .hamburger{
            width: 30px;
            height: 34px;
            position: relative;
            // margin: 50px auto;

            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);

            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

            cursor: pointer;    

            span{
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: #d3531a;
                border-radius: 9px;
                opacity: 1;
                left: 0;

                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);

                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;


                &:nth-of-type(1){
                    top: 6px; 
                }

                &:nth-of-type(2){
                    top: 15px;
                }

                &:nth-of-type(3){
                    top: 15px;
                }

                &:nth-of-type(4){
                    top: 24px;
                }
                
            }

            &.open{

                span{

                    &:nth-of-type(1){ 
                        top: 12px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-of-type(2){
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        
                    }

                    &:nth-of-type(3){
                    
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    
                    }

                    &:nth-of-type(4){
                        
                        top: 12px;
                        width: 0%;
                        left: 50%;
                        
                    }
                }
            }
        }
    }
  
}


@media screen and (min-width: 550px) {
    .navigation_bar{

        .container{

            nav{
                display: block;
                position: static;
                width: 100%;
                height: initial;
                padding: 0;
              

                ul{
                  flex-direction: row;
                    justify-content: flex-end;
                  
                    .user{
                          order: 1;
                    }
                    
                }
    
            }

            .hamburger{
                display: none;
            }
        }
    }
}